	$yellow1: rgb(255, 245, 204, 1);
$yellow2: rgb(255, 245, 187, 1);
$row1-color: rgba(0, 58, 99, 0.07);
$row2-color: rgba(255, 243, 179, 0.9);
$python-blue: #003A63;
$medium-media: 75%;
$small-media: 60%;
html {
	background-color: $yellow1;
}

body {
	direction: ltr;
	font-family: Arial;
	font-size: 110%;
	width: 90%;
	margin: auto;
	padding: 3px;
	text-align: left;
	line-height: 1.5;
	background-color: $yellow2;
	color: rgb(40, 40, 40);
}

@media screen and (max-width: 940px) {
	body {
		font-size: $medium-media;
	}
	.codeImg {
		width: $medium-media;
	}
	iframe {
		height: 250px;
	}
	.btn {
		font-size: $medium-media;
	}
}

@media screen and (max-width: 680px) {
	body {
		font-size: $small-media;
	}
	.codeImg {
		width: $small-media;
	}
	iframe {
		height: 200px;
	}
	.btn {
		font-size: $small-media;
	}
}

.nav-pills {
	font-weight: 600;
	
	.nav-link {
			background-color: $yellow2;;
			color: $python-blue;
	}
	 	
	.nav-link.active {
		background-color: $python-blue;
	}
}

iframe {
	position: -webkit-sticky;
	position: sticky;
	display: block;
	top: 5px;
	margin: auto;
	width: 90%;
	border: 5px red groove;
	padding: 1%;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 1;
}

iframe+.container-fluid {
	margin-top: 20px;
}

.chapterTitle {
	width: 300px;
	margin-top: 25px;
	margin-bottom: 15px;
	padding-left: 15px;
	text-align: left;
	color: white;
	background-color: $python-blue;
	border-radius: 20px;
	font-size: 1.6em;
}

input[type='button'] {
	padding: 7px;
	display: block;
	margin: 20px auto;
	font-size: 1em;
	background-color: green;
	color: white;
}

input[type='text'] {
	height: 2em;
	padding: 2px 3px;
	font-size: 80%;
}

div.row {
	vertical-align: middle;
	background-color: $row1-color;
	margin-top: 10px;
}

div.row:nth-of-type(even) {
	background-color: $row2-color;
}

.content-frame {
	display: grid;
	justify-content: start;
	align-items: center;
	height: 100%;
	padding-left: 30px;
}

.codeImg {
	display: block;
	margin: 0 auto;
}

.btn-success {
	margin-right: 5px;
}

.col-6,
.col-12 {
	padding: 10px;
}

%ordinal {
	padding: 2px 10px;
	font-weight: 600;
	font-size: 1em;
}

p.ordinal {
	@extend %ordinal;
	color: $yellow1;
	display: inline;
	background-color: $python-blue;
	margin: auto;
	border-radius: 5px;
}

p {
	margin: 12px 0px;
	text-align: justify;
	line-height: 1.25;
}

.numberText {
	width: 50px;
	margin-left: 20px;
}

/*********************************
* Beginning of Table properties *
*********************************/
table {
	margin: auto;
	margin-bottom: 20px;
	border: 2px sold black;
	border-collapse: collapse;
}
th {
	text-align: center;
}
tr {
	height: 45px
}
td {
	padding-left: 10px;
	padding-bottom: 2px;
	border: 1px solid black;
}
td.ordinal {
	@extend %ordinal;
	text-align: right;
}
#printing_table {
	width: 40%;
	margin-left: 10%;
	border-collapse: collapse;
	table-layout: auto;
}
/***************************
* End of Table properties *
***************************/
